<div class="row">
  <div class="col-1">
    <button class="btn w-100 h-100 btn btn-success" style="font-size: 4vw" (click)="triggerTeamWon(activeTeams[0])">🏆
    </button>
  </div>
  <div class="row col">
    <div class="p-2 col text-center"
         style="white-space: nowrap; overflow: hidden; width: 100%">
      <span style="font-size: 4vw;">{{activeTeams[0]?.name}}</span>
    </div>

    <div style="font-size: 4vw" class="text-center pt-3">🆚</div>

    <div class="p-2 col text-center"
         style="white-space: nowrap; overflow: hidden;">
      <span style="font-size: 4vw">{{activeTeams[1]?.name}}</span>
    </div>
  </div>
  <div class="col-1">
    <button class="btn w-100 h-100 btn btn-success" style="font-size: 4vw" (click)="triggerTeamWon(activeTeams[1])">🏆
    </button>
  </div>

</div>
